.table-account-focused {
    -fx-font-weight: bold;
}

.table-account-unfocused {
    -fx-text-fill: #AAAAAA;
}

.table-value-focused {
    -fx-font-weight: bold;
}

.table-value-unfocused {
    -fx-text-fill: #AAAAAA;
}

.transaction-table {
    -fx-font-size: 11px;
}

.transaction-table-cell-wrapped {
    -fx-wrap-text: true;
}